In [1]:
import pandas as pd

<h1>Load the Dataset</h1>

In [2]:
movie_df = pd.read_csv('/Users/shreeyadaga/Documents/college/Sem6/DSBDA/DSBDALExam DataSets/DSBDALExam DataSets/Movie/movies_metadata.csv')
rating_df = pd.read_csv('/Users/shreeyadaga/Documents/college/Sem6/DSBDA/DSBDALExam DataSets/DSBDALExam DataSets/Movie/ratings_small.csv')

/var/folders/wg/h60t4_v56c1dm17m7q09c16m0000gn/T/ipykernel_72503/3142016673.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movie_df = pd.read_csv('/Users/shreeyadaga/Documents/college/Sem6/DSBDA/DSBDALExam DataSets/DSBDALExam DataSets/Movie/movies_metadata.csv')

In [3]:
movie_df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [4]:
movie_df.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [5]:
movie_df.dropna(axis=0, inplace=True)
movie_df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0
68,False,"{'id': 43563, 'name': 'Friday Collection', 'po...",3500000,"[{'id': 35, 'name': 'Comedy'}]",http://www.newline.com/properties/friday.html,10634,tt0113118,en,Friday,Craig and Smokey are two guys in Los Angeles h...,...,1995-04-26,28215918.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A lot can go down between thursday and saturda...,Friday,False,7.0,513.0
69,False,"{'id': 10924, 'name': 'From Dusk Till Dawn Col...",19000000,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",http://www.miramax.com/movie/from-dusk-till-dawn/,755,tt0116367,en,From Dusk Till Dawn,Seth Gecko and his younger brother Richard are...,...,1996-01-19,25836616.0,108.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One night is all that stands between them and ...,From Dusk Till Dawn,False,6.9,1644.0
153,False,"{'id': 439053, 'name': 'Brooklyn Cigar Store C...",2000000,"[{'id': 35, 'name': 'Comedy'}]",http://miramax.com/movie/blue-in-the-face/,5894,tt0112541,en,Blue in the Face,"Auggie runs a small tobacco shop in Brooklyn, ...",...,1995-09-15,1275000.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Welcome to the planet Brooklyn.,Blue in the Face,False,6.8,28.0
178,False,"{'id': 286162, 'name': 'Power Rangers Collecti...",15000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.powerrangers.com/,9070,tt0113820,en,Mighty Morphin Power Rangers: The Movie,Power up with six incredible teens who out-man...,...,1995-06-30,66000000.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Power Is On!,Mighty Morphin Power Rangers: The Movie,False,5.2,153.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44274,False,"{'id': 173710, 'name': 'Planet of the Apes (Re...",152000000,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",http://www.foxmovies.com/movies/war-for-the-pl...,281338,tt3450958,en,War for the Planet of the Apes,Caesar and his apes are forced into a deadly c...,...,2017-07-11,369907963.0,140.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,For freedom. For family. For the planet.,War for the Planet of the Apes,False,6.7,1675.0
44674,False,"{'id': 476961, 'name': 'Goon Collection', 'pos...",0,"[{'id': 35, 'name': 'Comedy'}]",https://www.facebook.com/GoonFilm/?fref=ts,336890,tt2417712,en,Goon: Last of the Enforcers,"During a pro lockout, Doug ""The Thug"" Glatt is...",...,2017-03-17,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Glatt's Back!,Goon: Last of the Enforcers,False,6.0,35.0
44821,False,"{'id': 34055, 'name': 'Pokémon Collection', 'p...",16000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://movies.warnerbros.com/pk3/,10991,tt0235679,ja,Pokémon 3: The Movie,When Molly Hale's sadness of her father's disa...,...,2000-07-08,68411275.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Pokémon: Spell of the Unknown,Pokémon: Spell of the Unknown,False,6.0,144.0
44842,False,"{'id': 8650, 'name': 'Transformers Collection'...",260000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://www.transformersmovie.com/,335988,tt3371366,en,Transformers: The Last Knight,"Autobots and Decepticons are at war, with huma...",...,2017-06-21,604942143.0,149.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For one world to live, the other must die.",Transformers: The Last Knight,False,6.2,1440.0
45029,False,"{'id': 417491, 'name': 'Bon Cop Bad Cop Collec...",0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",http://bcbc2.ca/en/,417489,tt4738174,fr,Bon Cop Bad Cop 2,Ward and Bouchard must face an important car t...,...,2017-05-12,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"It's okay America, we've got your back.",Bon Cop Bad Cop 2,False,6.8,5.0

In [6]:
movie_df.drop_duplicates(inplace=True)
movie_df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0
68,False,"{'id': 43563, 'name': 'Friday Collection', 'po...",3500000,"[{'id': 35, 'name': 'Comedy'}]",http://www.newline.com/properties/friday.html,10634,tt0113118,en,Friday,Craig and Smokey are two guys in Los Angeles h...,...,1995-04-26,28215918.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A lot can go down between thursday and saturda...,Friday,False,7.0,513.0
69,False,"{'id': 10924, 'name': 'From Dusk Till Dawn Col...",19000000,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",http://www.miramax.com/movie/from-dusk-till-dawn/,755,tt0116367,en,From Dusk Till Dawn,Seth Gecko and his younger brother Richard are...,...,1996-01-19,25836616.0,108.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One night is all that stands between them and ...,From Dusk Till Dawn,False,6.9,1644.0
153,False,"{'id': 439053, 'name': 'Brooklyn Cigar Store C...",2000000,"[{'id': 35, 'name': 'Comedy'}]",http://miramax.com/movie/blue-in-the-face/,5894,tt0112541,en,Blue in the Face,"Auggie runs a small tobacco shop in Brooklyn, ...",...,1995-09-15,1275000.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Welcome to the planet Brooklyn.,Blue in the Face,False,6.8,28.0
178,False,"{'id': 286162, 'name': 'Power Rangers Collecti...",15000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.powerrangers.com/,9070,tt0113820,en,Mighty Morphin Power Rangers: The Movie,Power up with six incredible teens who out-man...,...,1995-06-30,66000000.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Power Is On!,Mighty Morphin Power Rangers: The Movie,False,5.2,153.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44274,False,"{'id': 173710, 'name': 'Planet of the Apes (Re...",152000000,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",http://www.foxmovies.com/movies/war-for-the-pl...,281338,tt3450958,en,War for the Planet of the Apes,Caesar and his apes are forced into a deadly c...,...,2017-07-11,369907963.0,140.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,For freedom. For family. For the planet.,War for the Planet of the Apes,False,6.7,1675.0
44674,False,"{'id': 476961, 'name': 'Goon Collection', 'pos...",0,"[{'id': 35, 'name': 'Comedy'}]",https://www.facebook.com/GoonFilm/?fref=ts,336890,tt2417712,en,Goon: Last of the Enforcers,"During a pro lockout, Doug ""The Thug"" Glatt is...",...,2017-03-17,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Glatt's Back!,Goon: Last of the Enforcers,False,6.0,35.0
44821,False,"{'id': 34055, 'name': 'Pokémon Collection', 'p...",16000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://movies.warnerbros.com/pk3/,10991,tt0235679,ja,Pokémon 3: The Movie,When Molly Hale's sadness of her father's disa...,...,2000-07-08,68411275.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Pokémon: Spell of the Unknown,Pokémon: Spell of the Unknown,False,6.0,144.0
44842,False,"{'id': 8650, 'name': 'Transformers Collection'...",260000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://www.transformersmovie.com/,335988,tt3371366,en,Transformers: The Last Knight,"Autobots and Decepticons are at war, with huma...",...,2017-06-21,604942143.0,149.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For one world to live, the other must die.",Transformers: The Last Knight,False,6.2,1440.0
45029,False,"{'id': 417491, 'name': 'Bon Cop Bad Cop Collec...",0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",http://bcbc2.ca/en/,417489,tt4738174,fr,Bon Cop Bad Cop 2,Ward and Bouchard must face an important car t...,...,2017-05-12,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"It's okay America, we've got your back.",Bon Cop Bad Cop 2,False,6.8,5.0

In [7]:
original_language = {language: sub for language, sub in movie_df.groupby('original_language')}
original_language

{'ar':        adult                              belongs_to_collection  budget  \
 23372  False  {'id': 303969, 'name': 'Martin Scorsese’s Worl...  200000

                                     genres  \
 23372  [{'id': 99, 'name': 'Documentary'}]

                                              homepage      id    imdb_id  \
 23372  http://worldcinemafoundation.org/films/transes  215407  tt0406280

       original_language original_title  \
 23372                ar         El hal

                                                 overview  ... release_date  \
 23372  Documentary about the Moroccan musical group N...  ...   1981-10-03

       revenue runtime                          spoken_languages    status  \
 23372     0.0    90.0  [{'iso_639_1': 'ar', 'name': 'العربية'}]  Released

                                                  tagline    title  video  \
 23372  Here at last comes the time of ecstasy, of tra...  Trances  False

       vote_average vote_count
 23372          6.4        4.0

 [1 rows x 24 columns],
 'cn':        adult                              belongs_to_collection    budget  \
 4018   False  {'id': 287016, 'name': "Wong Kar-Wai's Informa...         0
 6759   False  {'id': 264335, 'name': 'The Eye Collection', '...         0
 13286  False  {'id': 70068, 'name': 'Ip Man Collection', 'po...  11715578
 15571  False  {'id': 70068, 'name': 'Ip Man Collection', 'po...  12902809
 20439  False  {'id': 146136, 'name': 'Armour of God Collecti...  48000000
 34853  False  {'id': 155408, 'name': 'Young And Dangerous Co...         0

                                                   genres  \
 4018   [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
 6759                      [{'id': 27, 'name': 'Horror'}]
 13286  [{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...
 15571  [{'id': 28, 'name': 'Action'}, {'id': 36, 'nam...
 20439  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
 34853  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...

                                                 homepage     id    imdb_id  \
 4018                http://www.wkw-inthemoodforlove.com/    843  tt0118694
 6759           http://theeye.kingnet.com.tw/en-main.html  10389  tt0325655
 13286                        http://www.ipman-movie.com/  14756  tt1220719
 15571                       http://www.ipman2-movie.com/  37472  tt1386932
 20439       http://hbpictures.ayomovie.com/12shengxiao//  98567  tt1424310
 34853  http://en.wikipedia.org/wiki/Young_and_Dangero...  48943  tt0163511

       original_language  original_title  \
 4018                 cn            花樣年華
 6759                 cn              見鬼
 13286                cn              葉問
 15571                cn       葉問2: 宗師傳奇
 20439                cn  Chinese Zodiac
 34853                cn      98古惑仔之龍爭虎鬥

                                                 overview  ... release_date  \
 4018   A melancholy story about the love between a wo...  ...   2000-05-22
 6759   A blind girl gets a cornea transplant so that ...  ...   2002-05-09
 13286  A semi-biographical account of Yip Man, the fi...  ...   2008-12-12
 15571  Having defeated the best fighters of the Imper...  ...   2010-04-21
 20439  Asian Hawk (Jackie Chan) leads a mercenary tea...  ...   2012-12-20
 34853  Although Chicken does not make an appearance, ...  ...   1998-01-01

           revenue runtime                                   spoken_languages  \
 4018   12854953.0    98.0  [{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...
 6759          0.0    98.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
 13286  21888598.0   108.0  [{'iso_639_1': 'zh', 'name': '普通话'}, {'iso_639...
 15571  36000000.0   109.0  [{'iso_639_1': 'zh', 'name': '普通话'}, {'iso_639...
 20439         0.0   120.0  [{'iso_639_1': 'zh', 'name': '普通话'}, {'iso_639...
 34853         0.0   114.0         [{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}]

          status                                            tagline  \
 4018   Released  Feel the heat, keep the feeling burning, let t...
 6759   Released  How can you believe your eyes when they're not...
 13286  Released        The celebrated Kung Fu master of Bruce Lee.
 15571  Released  Behind every great martial artist lies a teacher.
 20439  Released  His mission is to recover their heads, before ...
 34853  Released                                    hong kong triad

                        title  video vote_average vote_count
 4018    In the Mood for Love  False          7.8      379.0
 6759                 The Eye  False          6.4      108.0
 13286                 Ip Man  False          7.5     1309.0
 15571               Ip Man 2  False          7.2      684.0
 20439         Chinese Zodiac  False          6.0      266.0
 34853  Young and Dangerous 5  False          6.3       10.0

 [6 rows x 24 columns],
 'da':        adult                              belongs_to_collection budget  \
 9086   False  {'id': 203910, 'name': 'Pusher Collection', 'p...      0
 16358  False  {'id': 441682, 'name': 'Klovn', 'poster_path':...      0
 22730  False  {'id': 258664, 'name': 'Nymphomaniac Collectio...      0

                                                   genres  \
 9086   [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
 16358                     [{'id': 35, 'name': 'Comedy'}]
 22730  [{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...

                                                 homepage      id    imdb_id  \
 9086                               http://www.pusher.nu/    2061  tt0117407
 16358  http://www.dfi.dk/faktaomfilm/film/en/69001.as...   48748  tt1680136
 22730           http://www.magpictures.com/nymphomaniac/  249397  tt2382009

       original_language         original_title  \
 9086                 da                 Pusher
 16358                da      Klovn - the movie
 22730                da  Nymphomaniac: Vol. II

                                                 overview  ... release_date  \
 9086   A drug pusher grows increasingly desperate aft...  ...   1996-08-30
 16358  Frank is left with the responsibility for his ...  ...   2010-12-16
 22730  The continuation of Joe's sexually dictated li...  ...   2013-12-25

          revenue runtime                          spoken_languages    status  \
 9086         0.0   105.0    [{'iso_639_1': 'da', 'name': 'Dansk'}]  Released
 16358        0.0    93.0    [{'iso_639_1': 'da', 'name': 'Dansk'}]  Released
 22730  2227167.0   123.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released

                                   tagline                  title  video  \
 9086   You don't have a chance. Seize it!                 Pusher  False
 16358      Every Child Needs A Role Model                  Klown  False
 22730                   Forget About Love  Nymphomaniac: Vol. II  False

       vote_average vote_count
 9086           6.8      162.0
 16358          6.6       45.0
 22730          6.6      820.0

 [3 rows x 24 columns],
 'de':        adult                              belongs_to_collection budget  \
 22281  False  {'id': 340633, 'name': 'Eberhofer Krimi Collec...      0
 33228  False  {'id': 76291, 'name': 'Simon Brenner Collectio...      0

                                                   genres  \
 22281  [{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...
 33228  [{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...

                              homepage      id    imdb_id original_language  \
 22281  http://www.dampfnudelblues.de/  209232  tt2969050                de
 33228    http://www.dasewigeleben.at/  277967  tt3642618                de

         original_title                                           overview  \
 22281  Dampfnudelblues  Franz, the local police officer in a tiny bava...
 33228  Das ewige Leben  A thriller crime comedy directed by Wolfgang M...

        ... release_date revenue runtime  \
 22281  ...   2013-07-31     0.0    87.0
 33228  ...   2015-03-05     0.0   123.0

                                         spoken_languages    status  \
 22281           [{'iso_639_1': 'de', 'name': 'Deutsch'}]  Released
 33228  [{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...  Released

                                    tagline            title  video  \
 22281              A bavarian crime comedy  Dampfnudelblues  False
 33228  Now something has happened again...     Life Eternal  False

       vote_average vote_count
 22281          6.4       18.0
 33228          7.1       29.0

 [2 rows x 24 columns],
 'en':        adult                              belongs_to_collection     budget  \
 9      False  {'id': 645, 'name': 'James Bond Collection', '...   58000000
 68     False  {'id': 43563, 'name': 'Friday Collection', 'po...    3500000
 69     False  {'id': 10924, 'name': 'From Dusk Till Dawn Col...   19000000
 153    False  {'id': 439053, 'name': 'Brooklyn Cigar Store C...    2000000
 178    False  {'id': 286162, 'name': 'Power Rangers Collecti...   15000000
 ...      ...                                                ...        ...
 43726  False  {'id': 224026, 'name': 'Monster High Collectio...          0
 44009  False  {'id': 86066, 'name': 'Despicable Me Collectio...   80000000
 44274  False  {'id': 173710, 'name': 'Planet of the Apes (Re...  152000000
 44674  False  {'id': 476961, 'name': 'Goon Collection', 'pos...          0
 44842  False  {'id': 8650, 'name': 'Transformers Collection'...  260000000

                                                   genres  \
 9      [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
 68                        [{'id': 35, 'name': 'Comedy'}]
 69     [{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...
 153                       [{'id': 35, 'name': 'Comedy'}]
 178    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
 ...                                                  ...
 43726  [{'id': 10751, 'name': 'Family'}, {'id': 14, '...
 44009  [{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...
 44274  [{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...
 44674                     [{'id': 35, 'name': 'Comedy'}]
 44842  [{'id': 28, 'name': 'Action'}, {'id': 878, 'na...

                                                 homepage      id    imdb_id  \
 9           http://www.mgm.com/view/movie/757/Goldeneye/     710  tt0113189
 68         http://www.newline.com/properties/friday.html   10634  tt0113118
 69     http://www.miramax.com/movie/from-dusk-till-dawn/     755  tt0116367
 153           http://miramax.com/movie/blue-in-the-face/    5894  tt0112541
 178                         http://www.powerrangers.com/    9070  tt0113820
 ...                                                  ...     ...        ...
 43726                 http://www.monsterhigh13wishes.com  212470  tt3159812
 44009                           http://www.despicable.me  324852  tt3469046
 44274  http://www.foxmovies.com/movies/war-for-the-pl...  281338  tt3450958
 44674         https://www.facebook.com/GoonFilm/?fref=ts  336890  tt2417712
 44842                  http://www.transformersmovie.com/  335988  tt3371366

       original_language                           original_title  \
 9                    en                                GoldenEye
 68                   en                                   Friday
 69                   en                      From Dusk Till Dawn
 153                  en                         Blue in the Face
 178                  en  Mighty Morphin Power Rangers: The Movie
 ...                 ...                                      ...
 43726                en                  Monster High: 13 Wishes
 44009                en                          Despicable Me 3
 44274                en           War for the Planet of the Apes
 44674                en              Goon: Last of the Enforcers
 44842                en            Transformers: The Last Knight

                                                 overview  ... release_date  \
 9      James Bond must unmask the mysterious head of ...  ...   1995-11-16
 68     Craig and Smokey are two guys in Los Angeles h...  ...   1995-04-26
 69     Seth Gecko and his younger brother Richard are...  ...   1996-01-19
 153    Auggie runs a small tobacco shop in Brooklyn, ...  ...   1995-09-15
 178    Power up with six incredible teens who out-man...  ...   1995-06-30
 ...                                                  ...  ...          ...
 43726  It’s a new school year at Monster High™, and t...  ...   2013-10-08
 44009  Gru and his wife Lucy must stop former '80s ch...  ...   2017-06-15
 44274  Caesar and his apes are forced into a deadly c...  ...   2017-07-11
 44674  During a pro lockout, Doug "The Thug" Glatt is...  ...   2017-03-17
 44842  Autobots and Decepticons are at war, with huma...  ...   2017-06-21

             revenue runtime  \
 9      3.521940e+08   130.0
 68     2.821592e+07    91.0
 69     2.583662e+07   108.0
 153    1.275000e+06    83.0
 178    6.600000e+07    92.0
 ...             ...     ...
 43726  0.000000e+00    73.0
 44009  1.020063e+09    96.0
 44274  3.699080e+08   140.0
 44674  0.000000e+00   101.0
 44842  6.049421e+08   149.0

                                         spoken_languages    status  \
 9      [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
 68              [{'iso_639_1': 'en', 'name': 'English'}]  Released
 69     [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
 153             [{'iso_639_1': 'en', 'name': 'English'}]  Released
 178             [{'iso_639_1': 'en', 'name': 'English'}]  Released
 ...                                                  ...       ...
 43726           [{'iso_639_1': 'en', 'name': 'English'}]  Released
 44009           [{'iso_639_1': 'en', 'name': 'English'}]  Released
 44274           [{'iso_639_1': 'en', 'name': 'English'}]  Released
 44674           [{'iso_639_1': 'en', 'name': 'English'}]  Released
 44842           [{'iso_639_1': 'en', 'name': 'English'}]  Released

                                                  tagline  \
 9                   No limits. No fears. No substitutes.
 68     A lot can go down between thursday and saturda...
 69     One night is all that stands between them and ...
 153                      Welcome to the planet Brooklyn.
 178                                     The Power Is On!
 ...                                                  ...
 43726                     Be scare-ful what you wish for
 44009                                        Oh brother.
 44274           For freedom. For family. For the planet.
 44674                                      Glatt's Back!
 44842         For one world to live, the other must die.

                                          title  video vote_average vote_count
 9                                    GoldenEye  False          6.6     1194.0
 68                                      Friday  False          7.0      513.0
 69                         From Dusk Till Dawn  False          6.9     1644.0
 153                           Blue in the Face  False          6.8       28.0
 178    Mighty Morphin Power Rangers: The Movie  False          5.2      153.0
 ...                                        ...    ...          ...        ...
 43726                  Monster High: 13 Wishes  False          6.4       20.0
 44009                          Despicable Me 3  False          6.2     2002.0
 44274           War for the Planet of the Apes  False          6.7     1675.0
 44674              Goon: Last of the Enforcers  False          6.0       35.0
 44842            Transformers: The Last Knight  False          6.2     1440.0

 [610 rows x 24 columns],
 'es':        adult                              belongs_to_collection   budget  \
 12320  False  {'id': 74508, 'name': '[REC] Collection', 'pos...  1500000
 14884  False  {'id': 74508, 'name': '[REC] Collection', 'pos...  5600000
 19635  False  {'id': 74508, 'name': '[REC] Collection', 'pos...        0
 27925  False  {'id': 74508, 'name': '[REC] Collection', 'pos...        0

                                                   genres  \
 12320  [{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...
 14884  [{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...
 19635                     [{'id': 27, 'name': 'Horror'}]
 27925  [{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...

                                    homepage      id    imdb_id  \
 12320      http://www.3l-filmverleih.de/rec    8329  tt1038988
 14884          http://www.rec2themovie.com/   10664  tt1245112
 19635  http://www.magnetreleasing.com/rec3/   80280  tt1649444
 27925           http://rec4apocalipsis.com/  185341  tt1649443

       original_language        original_title  \
 12320                es                 [REC]
 14884                es                [REC]²
 19635                es        [REC]³ Génesis
 27925                es  [REC] 4: Apocalipsis

                                                 overview  ... release_date  \
 12320  A television reporter and cameraman follow eme...  ...   2007-04-10
 14884  The action continues from [REC], with the medi...  ...   2009-09-15
 19635  The action now takes place miles away from the...  ...   2012-03-30
 27925  Ángela Vidal the young television reporter who...  ...   2014-09-09

           revenue runtime                                   spoken_languages  \
 12320  30448000.0    78.0  [{'iso_639_1': 'ja', 'name': '日本語'}, {'iso_639...
 14884  18469680.0    85.0           [{'iso_639_1': 'es', 'name': 'Español'}]
 19635  10158000.0    80.0  [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...
 27925    190000.0    95.0           [{'iso_639_1': 'es', 'name': 'Español'}]

          status                  tagline              title  video  \
 12320  Released  One witness. One camera              [REC]  False
 14884  Released           Fear Revisited             [REC]²  False
 19635  Released  You may kiss the bride.     [REC]³ Genesis  False
 27925  Released      It's time to leave.  [REC]⁴ Apocalypse  False

       vote_average vote_count
 12320          7.1      954.0
 14884          6.5      496.0
 19635          4.9      360.0
 27925          5.2      269.0

 [4 rows x 24 columns],
 'fi':        adult                              belongs_to_collection   budget  \
 16225  False  {'id': 412736, 'name': 'Rare Exports Collectio...  1948000
 16749  False  {'id': 461755, 'name': 'Napapiirin sankarit', ...        0

                                 genres                            homepage  \
 16225  [{'id': 14, 'name': 'Fantasy'}]  http://www.rareexportsmovie.com/en
 16749   [{'id': 35, 'name': 'Comedy'}]      http://www.laplandodyssey.com/

           id    imdb_id original_language       original_title  \
 16225  48395  tt1401143                fi         Rare Exports
 16749  58764  tt1454505                fi  Napapiirin sankarit

                                                 overview  ... release_date  \
 16225  It's the eve of Christmas in northern Finland ...  ...   2010-12-03
 16749  Lapland Odyssey is a comedy about Janne, a man...  ...   2010-10-15

       revenue runtime                                   spoken_languages  \
 16225     0.0    84.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
 16749     0.0    92.0             [{'iso_639_1': 'fi', 'name': 'suomi'}]

          status                                            tagline  \
 16225  Released  He knows if you've been naughty. He knows if y...
 16749  Released                              A couple of variables

                                 title  video vote_average vote_count
 16225  Rare Exports: A Christmas Tale  False          6.4      143.0
 16749                 Lapland Odyssey  False          6.6       27.0

 [2 rows x 24 columns],
 'fr':        adult                              belongs_to_collection    budget  \
 10700  False  {'id': 85946, 'name': 'District 13 Collection'...  12000000
 32886  False  {'id': 115840, 'name': 'Would I Lie to You? Co...  25496629
 45029  False  {'id': 417491, 'name': 'Bon Cop Bad Cop Collec...         0


In [8]:
original_language['en'].head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0
68,False,"{'id': 43563, 'name': 'Friday Collection', 'po...",3500000,"[{'id': 35, 'name': 'Comedy'}]",http://www.newline.com/properties/friday.html,10634,tt0113118,en,Friday,Craig and Smokey are two guys in Los Angeles h...,...,1995-04-26,28215918.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A lot can go down between thursday and saturda...,Friday,False,7.0,513.0
69,False,"{'id': 10924, 'name': 'From Dusk Till Dawn Col...",19000000,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",http://www.miramax.com/movie/from-dusk-till-dawn/,755,tt0116367,en,From Dusk Till Dawn,Seth Gecko and his younger brother Richard are...,...,1996-01-19,25836616.0,108.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One night is all that stands between them and ...,From Dusk Till Dawn,False,6.9,1644.0
153,False,"{'id': 439053, 'name': 'Brooklyn Cigar Store C...",2000000,"[{'id': 35, 'name': 'Comedy'}]",http://miramax.com/movie/blue-in-the-face/,5894,tt0112541,en,Blue in the Face,"Auggie runs a small tobacco shop in Brooklyn, ...",...,1995-09-15,1275000.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Welcome to the planet Brooklyn.,Blue in the Face,False,6.8,28.0
178,False,"{'id': 286162, 'name': 'Power Rangers Collecti...",15000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.powerrangers.com/,9070,tt0113820,en,Mighty Morphin Power Rangers: The Movie,Power up with six incredible teens who out-man...,...,1995-06-30,66000000.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Power Is On!,Mighty Morphin Power Rangers: The Movie,False,5.2,153.0

In [9]:
original_language['ja'].head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
3677,False,"{'id': 34055, 'name': 'Pokémon Collection', 'p...",30000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://p2kmovie.warnerbros.com/index2.html,12599,tt0210234,ja,劇場版ポケットモンスター 幻のポケモン ルギア爆誕,Ash Ketchum must put his skill to the test whe...,...,1999-07-17,133949270.0,84.0,"[{'iso_639_1': 'ja', 'name': '日本語'}, {'iso_639...",Released,One Person Can Make All The Difference!,Pokémon: The Movie 2000,False,6.4,201.0
4114,False,"{'id': 34055, 'name': 'Pokémon Collection', 'p...",16000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://movies.warnerbros.com/pk3/,10991,tt0235679,ja,Pokémon 3: The Movie,When Molly Hale's sadness of her father's disa...,...,2000-07-08,68411275.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Pokémon: Spell of the Unknown,Pokémon: Spell of the Unknown,False,6.0,143.0
10394,False,"{'id': 140760, 'name': 'Final Fantasy Collecti...",0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://na.square-enix.com/ff7acc/,647,tt0385700,ja,Final Fantasy VII: Advent Children,Two years have passed since the final battle w...,...,2005-07-14,0.0,101.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,"Is it for the children, for a memory, or for h...",Final Fantasy VII: Advent Children,False,6.7,290.0
11363,False,"{'id': 101246, 'name': 'Azumi Collection', 'po...",0,"[{'id': 28, 'name': 'Action'}]",http://web.archive.org/web/20080210100832/http...,5890,tt0431641,ja,あずみ２ Death or Love,Young assassins Azumi and Nagara continue thei...,...,2005-03-12,0.0,108.0,"[{'iso_639_1': 'ja', 'name': '日本語'}, {'iso_639...",Released,Love Or Duty... An Assassin Must Choose,Azumi 2: Death or Love,False,6.4,45.0
14008,False,"{'id': 190135, 'name': 'Love Hina Collection',...",0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://www.tv-tokyo.co.jp/anime/lovehina/,37047,tt0414243,ja,ラブひな クリスマススペシャル ～サイレント・イヴ～,As another round of preliminary tests approach...,...,2000-12-24,0.0,46.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,"If you make a wish on Christmas Eve, will it c...",Love Hina Christmas Special: Silent Eve,False,5.5,6.0

In [10]:
en_ja = pd.concat((original_language['en'], original_language['ja']))
en_ja

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0
68,False,"{'id': 43563, 'name': 'Friday Collection', 'po...",3500000,"[{'id': 35, 'name': 'Comedy'}]",http://www.newline.com/properties/friday.html,10634,tt0113118,en,Friday,Craig and Smokey are two guys in Los Angeles h...,...,1995-04-26,28215918.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A lot can go down between thursday and saturda...,Friday,False,7.0,513.0
69,False,"{'id': 10924, 'name': 'From Dusk Till Dawn Col...",19000000,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",http://www.miramax.com/movie/from-dusk-till-dawn/,755,tt0116367,en,From Dusk Till Dawn,Seth Gecko and his younger brother Richard are...,...,1996-01-19,25836616.0,108.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One night is all that stands between them and ...,From Dusk Till Dawn,False,6.9,1644.0
153,False,"{'id': 439053, 'name': 'Brooklyn Cigar Store C...",2000000,"[{'id': 35, 'name': 'Comedy'}]",http://miramax.com/movie/blue-in-the-face/,5894,tt0112541,en,Blue in the Face,"Auggie runs a small tobacco shop in Brooklyn, ...",...,1995-09-15,1275000.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Welcome to the planet Brooklyn.,Blue in the Face,False,6.8,28.0
178,False,"{'id': 286162, 'name': 'Power Rangers Collecti...",15000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.powerrangers.com/,9070,tt0113820,en,Mighty Morphin Power Rangers: The Movie,Power up with six incredible teens who out-man...,...,1995-06-30,66000000.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Power Is On!,Mighty Morphin Power Rangers: The Movie,False,5.2,153.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39669,False,"{'id': 140760, 'name': 'Final Fantasy Collecti...",0,"[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...",http://www.kingsglaivefinalfantasyxv-movie.com,390734,tt5595168,ja,キングスグレイブ ファイナルファンタジーXV,The magical kingdom of Lucis is home to the wo...,...,2016-07-09,269980.0,115.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,Kingsglaive: Final Fantasy XV,Kingsglaive: Final Fantasy XV,False,6.8,201.0
40544,False,"{'id': 17149, 'name': '20th Century Boys Colle...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 9648,...",http://www.20thboysfilms.com/,39123,tt1181919,ja,20世紀少年 ぼくらの旗,"The final showdown, and the final reveal: who ...",...,2009-08-19,0.0,156.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,redemption,20th Century Boys - Chapter 3: Our Flag,False,6.8,16.0
40875,False,"{'id': 414000, 'name': 'Omae Umasou Da na', 'p...",0,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",http://www.poplar.co.jp/special/umasou/,89825,tt1734113,ja,おまえうまそうだな,You Are Umasou adapts Tatsuya Miyanishi's popu...,...,2010-10-15,0.0,89.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,You Look Delicious!,You Are Umasou,False,7.0,10.0
44050,False,"{'id': 473840, 'name': 'Little Forest Collecti...",0,"[{'id': 18, 'name': 'Drama'}]",https://web.archive.org/web/20160111092554/htt...,294682,tt3474600,ja,リトル・フォレスト 夏・秋,"Abandoned by her mother, young Ichiko leaves h...",...,2014-08-30,0.0,111.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,Back to nature.,Little Forest: Summer/Autumn,False,8.3,16.0
44821,False,"{'id': 34055, 'name': 'Pokémon Collection', 'p...",16000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://movies.warnerbros.com/pk3/,10991,tt0235679,ja,Pokémon 3: The Movie,When Molly Hale's sadness of her father's disa...,...,2000-07-08,68411275.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Pokémon: Spell of the Unknown,Pokémon: Spell of the Unknown,False,6.0,144.0

In [11]:
rating_df

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [12]:
sort_ratings = rating_df.sort_values(by='rating', ascending=False)
sort_ratings

       userId  movieId  rating   timestamp
33889     242     2929     5.0   956687566
36867     265     1233     5.0   960056214
46251     337     1356     5.0  1447176421
14749      95     3948     5.0  1025556197
14747      95     3917     5.0  1019023102
...       ...      ...     ...         ...
76709     531     1258     0.5  1243454822
2530       15   109187     0.5  1465794437
76706     531     1183     0.5  1244062924
76700     531     1036     0.5  1240402328
68262     475     3564     0.5  1447778383

[100004 rows x 4 columns]

In [13]:
avg_rating_sort = (rating_df.groupby('movieId')['rating'].mean().reset_index().sort_values('rating', ascending=True))
avg_rating_sort

      movieId  rating
7592    80350     0.5
4340     5850     0.5
6524    48591     0.5
6522    48522     0.5
4345     5864     0.5
...       ...     ...
2544     3165     5.0
5931    27792     5.0
2574     3202     5.0
2585     3216     5.0
9065   163949     5.0

[9066 rows x 2 columns]

In [14]:
transpose = movie_df.T
transpose

,9,68,69,153,178,219,256,309,359,475,...,43294,43725,43726,44009,44050,44274,44674,44821,44842,45029
adult,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
belongs_to_collection,"{'id': 645, 'name': 'James Bond Collection', '...","{'id': 43563, 'name': 'Friday Collection', 'po...","{'id': 10924, 'name': 'From Dusk Till Dawn Col...","{'id': 439053, 'name': 'Brooklyn Cigar Store C...","{'id': 286162, 'name': 'Power Rangers Collecti...","{'id': 182813, 'name': 'Clerks Collection', 'p...","{'id': 10, 'name': 'Star Wars Collection', 'po...","{'id': 144200, 'name': 'Swan Princess Series',...","{'id': 94032, 'name': 'The Lion King Collectio...","{'id': 328, 'name': 'Jurassic Park Collection'...",...,"{'id': 87118, 'name': 'Cars Collection', 'post...","{'id': 224026, 'name': 'Monster High Collectio...","{'id': 224026, 'name': 'Monster High Collectio...","{'id': 86066, 'name': 'Despicable Me Collectio...","{'id': 473840, 'name': 'Little Forest Collecti...","{'id': 173710, 'name': 'Planet of the Apes (Re...","{'id': 476961, 'name': 'Goon Collection', 'pos...","{'id': 34055, 'name': 'Pokémon Collection', 'p...","{'id': 8650, 'name': 'Transformers Collection'...","{'id': 417491, 'name': 'Bon Cop Bad Cop Collec..."
budget,58000000,3500000,19000000,2000000,15000000,27000,11000000,35000000,45000000,63000000,...,175000000,0,0,80000000,0,152000000,0,16000000,260000000,0
genres,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","[{'id': 35, 'name': 'Comedy'}]","[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...","[{'id': 35, 'name': 'Comedy'}]","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 35, 'name': 'Comedy'}]","[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","[{'id': 16, 'name': 'Animation'}]","[{'id': 10751, 'name': 'Family'}, {'id': 16, '...","[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",...,"[{'id': 10751, 'name': 'Family'}, {'id': 35, '...","[{'id': 16, 'name': 'Animation'}, {'id': 10751...","[{'id': 10751, 'name': 'Family'}, {'id': 14, '...","[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...","[{'id': 18, 'name': 'Drama'}]","[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...","[{'id': 35, 'name': 'Comedy'}]","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...","[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name..."
homepage,http://www.mgm.com/view/movie/757/Goldeneye/,http://www.newline.com/properties/friday.html,http://www.miramax.com/movie/from-dusk-till-dawn/,http://miramax.com/movie/blue-in-the-face/,http://www.powerrangers.com/,http://www.miramax.com/movie/clerks/,http://www.starwars.com/films/star-wars-episod...,http://www.sonypictures.com/movies/theswanprin...,http://movies.disney.com/the-lion-king,http://www.jurassicpark.com/,...,http://cars.disney.com,http://www.monsterhigh.com/en-us/videos/index....,http://www.monsterhigh13wishes.com,http://www.despicable.me,https://web.archive.org/web/20160111092554/htt...,http://www.foxmovies.com/movies/war-for-the-pl...,https://www.facebook.com/GoonFilm/?fref=ts,http://movies.warnerbros.com/pk3/,http://www.transformersmovie.com/,http://bcbc2.ca/en/
id,710,10634,755,5894,9070,2292,11,22586,8587,329,...,260514,360404,212470,324852,294682,281338,336890,10991,335988,417489
imdb_id,tt0113189,tt0113118,tt0116367,tt0112541,tt0113820,tt0109445,tt0076759,tt0111333,tt0110357,tt0107290,...,tt3606752,tt4779496,tt3159812,tt3469046,tt3474600,tt3450958,tt2417712,tt0235679,tt3371366,tt4738174
original_language,en,en,en,en,en,en,en,en,en,en,...,en,en,en,en,ja,en,en,ja,en,fr
original_title,GoldenEye,Friday,From Dusk Till Dawn,Blue in the Face,Mighty Morphin Power Rangers: The Movie,Clerks,Star Wars,The Swan Princess,The Lion King,Jurassic Park,...,Cars 3,"Monster High: Boo York, Boo York",Monster High: 13 Wishes,Despicable Me 3,リトル・フォレスト 夏・秋,War for the Planet of the Apes,Goon: Last of the Enforcers,Pokémon 3: The Movie,Transformers: The Last Knight,Bon Cop Bad Cop 2
overview,James Bond must unmask the mysterious head of ...,Craig and Smokey are two guys in Los Angeles h...,Seth Gecko and his younger brother Richard are...,"Auggie runs a small tobacco shop in Brooklyn, ...",Power up with six incredible teens who out-man...,Convenience and video store clerks Dante and R...,Princess Leia is captured and held hostage by ...,The beautiful princess Odette is transformed i...,A young lion cub named Simba can't wait to be ...,A wealthy entrepreneur secretly creates a them...,...,Blindsided by a new generation of blazing-fast...,The ghouls are taking a bite out of Boo York! ...,"It’s a new school year at Monster High™, and t...",Gru and his wife Lucy must stop former '80s ch...,"Abandoned by her mother, young Ichiko leaves h...",Caesar and his apes are forced into a deadly c...,"During a pro lockout, Doug ""The Thug"" Glatt is...",When Molly Hale's sadness of her father's disa...,"Autobots and Decepticons are at war, with huma...",Ward and Bouchard must face an important car t...
popularity,14.686036,14.56965,15.339153,11.528147,7.024227,10.513367,42.149697,8.910462,21.605761,8.863776,...,19.148182,3.393803,3.527047,36.631519,1.252833,146.161786,6.365691,6.480376,39.186819,7.580299
poster_path,/5c0ovjT41KnYIHYuF4AWsTe3sKh.jpg,/kkoGT4bnK5oGiNbzGGcXzrXMSxn.jpg,/ce0d4kM5KxT4x1Oq8JkSuNYevri.jpg,/qa9yf3OlfXbYBb0af0mpawGB6TI.jpg,/A3ijhraMN0tvpDnPoyVP7NulkSr.jpg,/dmNytzvQTjylI83qrgDoS1KQ0ev.jpg,/btTdmkgIvOi0FFip1sPuZI2oQG6.jpg,/oYp2bckWNBKOIbznjAfypVoMOFl.jpg,/bKPtXn9n4M4s8vvZrbw40mYsefB.jpg,/c414cDeQ9b6qLPLeKmiJuLDUREJ.jpg,...,/fyy1nDC8wm553FCiBDojkJmKLCs.jpg,/sTFl7TjLYY8IfsF2Xi28flBKf5B.jpg,/smWPHu8UWlVr6pJkExPrF4fks0x.jpg,/5qcUGqWoWhEsoQwNUrtf3y3fcWn.jpg,/87FWLJdViF9p8vysGBFcXMXXlZp.jpg,/3vYhLLxrTtZLysXtIWktmd57Snv.jpg,/emio9KDrLXqqX4wXa4YTacBQXG.jpg,/5ILjS6XB5deiHop8SXPsYxXWVPE.jpg,/s5HQf2Gb3lIO2cRcFwNL9sn1o1o.jpg,/qY4RGT6Ky1Z46BWaKohTlNp9ncU.jpg
production_companies,"[{'name': 'United Artists', 'id': 60}, {'name'...","[{'name': 'New Line Cinema', 'id': 12}]","[{'name': 'A Band Apart', 'id': 59}, {'name': ...","[{'name': 'Miramax Films', 'id': 14}, {'name':...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'name': 'Miramax Films', 'id': 14}, {'name':...","[{'name': 'Lucasfilm', 'id': 1}, {'name': 'Twe...","[{'name': 'Rich Animation Studios', 'id': 4108}]","[{'name': 'Walt Disney Pictures', 'id': 2}, {'...","[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...","[{'name': 'Mattel Playground Productions', 'id...","[{'name': 'Mattel', 'id': 6220}]","[{'name': 'Illumination Entertainment', 'id': ...","[{'name': 'Shochiku', 'id': 5906}]","[{'name': 'Chernin Entertainment', 'id': 7076}]","[{'name': 'Caramel Film', 'id': 23108}]","[{'name': 'TV Tokyo', 'id': 3034}, {'name': '4...","[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'name': 'Item 7', 'id': 7177}, {'name': 'Jes..."
production_countries,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...",...,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'JP', 'name': 'Japan'}]","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]","[{'iso_3166_1': 'JP', 'name': 'Japan'}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]"
release_date,1995-11-16,1995-04-26,1996-01-19,1995-09-15,1995-06-30,1994-09-13,1977-05-25,1994-11-18,1994-06-23,1993-06-11,...,2017-06-15,2015-10-19,2013-10-08,2017-06-15,2014-08-30,2017-07-11,2017-03-17,2000-07-08,2017-06-21,2017-05-12
revenue,352194034.0,28215918.0,25836616.0,1275000.0,66000000.0,3151130.0,775398007.0,9771658.0,788241776.0,920100000.0,...,350170057.0,0.0,0.0,1020063384.0,0.0,369907963.0,0.0,68411275.0,604942143.0,0.0
runtime,130.0,91.0,108.0,83.0,92.0,92.0,121.0,89.0,89.0,127.0,...,109.0,72.0,73.0,96.0,111.0,140.0,101.0,93.0,149.0,0.0
spoken_languages,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",...,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'ja', 'name': '日本語'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso..."
status,Released,Released,Released,Released,Released,Released,Released,Released,Released,Released,...,Released,Released,Released,Released,Released,Released,Released,Released,Released,Released
tagline,No limits. No fears. No substitutes.,A lot can go down between thursday and saturda...,One night is all that stands between them and ...,Welcome to the planet Brooklyn.,The Power Is On!,Just because they serve you doesn't mean they ...,"A long time ago in a galaxy far, far away...",An enchanting classic destined to capture your...,Life's greatest adventure is finding your plac...,An adventure 65 million years in the making.,...,"From this moment, everything will change",A Monsterrific Musical!,Be scare-ful what you wish for,Oh brother.,Back to nature.,For freedom. For family. For the planet.,Glatt's Back!,Pokémon: Spell of the Unknown,"For one world to live, the other must die.","It's okay America, we've got your back."
title,GoldenEye,Friday,From Dusk Till Dawn,Blue in the Face,Mighty Morphin Power Rangers: The Movie,Clerks,Star Wars,The Swan Princess,The Lion King,Jurassic Park,...,Cars 3,"Monster High: Boo York, Boo York",Monster High: 13 Wishes,Despicable Me 3,Little Forest: Summer/Autumn,War for the Planet of the Apes,Goon: Last of the Enforcers,Pokémon: Spell of the Unknown,Transformers: The Last Knight,Bon Cop Bad Cop 2
video,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
vote_average,6.6,7.0,6.9,6.8,5.2,7.4,8.1,6.5,8.0,7.6,...,6.6,7.3,6.4,6.2,8.3,6.7,6.0,6.0,6.2,6.8
vote_count,1194.0,513.0,1644.0,28.0,153.0,769.0,6778.0,251.0,5520.0,4956.0,...,718.0,17.0,20.0,2002.0,16.0,1675.0,35.0,144.0,1440.0,5.0

In [19]:
melted_df = pd.melt(movie_df,id_vars=['title','id'], value_vars=['popularity','runtime'],var_name='measurement',value_name='value').reset_index()
melted_df

                                        title      id measurement      value
0                                   GoldenEye     710  popularity  14.686036
1                                      Friday   10634  popularity   14.56965
2                         From Dusk Till Dawn     755  popularity  15.339153
3                            Blue in the Face    5894  popularity  11.528147
4     Mighty Morphin Power Rangers: The Movie    9070  popularity   7.024227
...                                       ...     ...         ...        ...
1381           War for the Planet of the Apes  281338     runtime      140.0
1382              Goon: Last of the Enforcers  336890     runtime      101.0
1383            Pokémon: Spell of the Unknown   10991     runtime       93.0
1384            Transformers: The Last Knight  335988     runtime      149.0
1385                        Bon Cop Bad Cop 2  417489     runtime        0.0

[1386 rows x 4 columns]

Drop any repeated (id, measurement) rows as pivot will have to convert them back to columns

In [28]:
melted_df = melted_df.drop_duplicates(subset=['id','measurement'])

In [29]:
casted_df = melted_df.pivot(index=['id','title'], columns='measurement', values='value').reset_index()
casted_df

measurement      id                                title popularity runtime
0             10005  Behind Enemy Lines II: Axis of Evil  11.063562    96.0
1             10009                         Brother Bear  12.300905    85.0
2            100183                   Outpost: Black Sun   2.438754   101.0
3             10020                 Beauty and the Beast  23.433511    84.0
4             10032        Van Wilder 2: The Rise of Taj   5.985236    97.0
..              ...                                  ...        ...     ...
687           98440                   Thou Shalt Laugh 3   0.005409    94.0
688           98566         Teenage Mutant Ninja Turtles  22.337973   101.0
689           98567                       Chinese Zodiac   11.02591   120.0
690            9945                             Vampires  13.318722   108.0
691           99861              Avengers: Age of Ultron   37.37942   141.0

[692 rows x 4 columns]